html{
scroll-behaviour:smooth;
}

*{
border-sizing:box;
}

body{
background-color:#040714;
color:#ffffff;
font-family:Avenir-Roman, sans-serif;
margin:0;
padding:0;
}

a{
color:#ffffff;
text-decoration:none;
}

@media only screen and (min-width:760px){
 body{
   font-size:16px;
 }
}

@media only screen and (min-width:480px) and (max-width:760px){
 body{
   font-size:15px;
 }
}

@media only screen and (max-width:480px){
 body{
   font-size:14px;
 }
}